.reviews__image {
width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden;
float: left;
margin-right: 20px;
}
.reviews__noimage {
    background: #f5f5f5 center center no-repeat;
    transform: translate(25%, 70%);
}
.noimage .reviews__image {
    background-color: #f5f5f5;
    
}
.reviews__content {
    float: left;
    width: 600px;
    
}
.reviews__item{
    margin-bottom: 30px;
}
.reviews__date {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #656464;
}
.reviews__name {
font-family: 'Roboto';
font-size: 18px;
font-weight: bold;
margin: 10px 0px;
}
.reviews__text {
font-family: 'Roboto';
font-size: 18px;
font-weight: 300;
line-height: 1.5;
text-align: left; 
}
.reviews__item-wrap {
border-bottom: 2px solid #f5f5f5;
display: inline-block;
margin-bottom: 30px;
}

.reviews__item-wrap:last-child {
border: none;
}
.reviews__banner {
    height: 180px;
    width: 100%;
    background: url('../../img/pattern.png') #27273e center center repeat;
    margin-bottom: 60px;
}
.reviews__banner-text {
color: #fff;
font-size: 18px;
font-family: "Gotham Pro";
line-height: 1.667;
text-align: center;
padding-top: 48px;
}
